*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  font-family: "Inter", serif
  font-size: 16px
  line-height: 1.7em
  background-color: #fff
  color: #171717

h1, h2, h3, h4, h5, h6
  font-family: 'Fraunces', serif
  font-weight: 400
  font-variation-settings: "opsz" 72,"SOFT" 50
  letter-spacing: -.03em

a
  &:link, &:visited, &:active
    text-decoration: none
    color: #1F1F1F

  &:hover
    border-bottom: 2px solid #000

ul
  list-style-position: inside

\::selection
  color: #fff
  background: #171717

#nav
  padding: 20px 32px

#content
  float: left
  padding: 20px

  a
    &:link, &:visited, &:active
      border-bottom: 2px solid #8895A7

    &:hover
      border-bottom: 2px solid #000

.subtitle
  color: #696969

pre
  padding: 2vh
  margin-top: 2vh
  margin-bottom: 2vh
  border-radius: 3px

code
  background-color: #c9c9c9
  padding: 3px
  border-radius: 3px
  font-size: 0.93em

pre code
  white-space: pre
  background: none
  padding: 0
  border: none
  border-radius: none


blockquote
  color: #4a4a4a
  border-left: 4px solid #eee
  padding-left: .75em
  margin-left: .75em 

@media only screen and (min-width: 961px)
  #content
    width: 650px

  #nav
    float: left
    width: 200px
