{% set image_small = resize_image(path=path, width=400, height=400, op=op) %}
{% set image_medium = resize_image(path=path, width=550, height=800, op=op) %}
{% set image_large = resize_image(path=path, width=600, height=600, op=op) %}
{% set image_fullscreen = resize_image(path=path, width=1600, height=600, op=op) %}

<picture class="image-container">
    <source srcset="{{ image_small.url }}" media="(max-width: 480px)">
    <source srcset="{{ image_medium.url }}" media="(max-width: 960px)">
    <img src="{{ image_large.url }}" alt="Your alt text here" class="image"
        data-large-image-url="{{ image_fullscreen.url }}">
    <button class="expand-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-maximize">
            <path d="M8 3H5a2 2 0 0 0-2 2v3" />
            <path d="M21 8V5a2 2 0 0 0-2-2h-3" />
            <path d="M3 16v3a2 2 0 0 0 2 2h3" />
            <path d="M16 21h3a2 2 0 0 0 2-2v-3" />
        </svg>
    </button>
</picture>